<h1>Edit product</h1>

<form action="/products/update/{{data.id}}" method="POST">
	<div class="">
		<label for="">Category</label>
		<select class="" name="category_id">
			{{#categories}}
				<option {{selected}} value="{{id}}">{{description}}</option>
			{{/categories}}
		</select>
	</div>
	<div class="">
		<label for="">Description</label>
		<input type="text" name="description" value="{{data.description}}">
	</div>
	<div class="field">
		<label for="price">Price</label>
		<input type="text" name="price" value="{{data.price}}">
	</div>
	<input type="submit">
</form>
