<h1>Products</h1>

<a href="/products/add">Add</a>

<table>
  <tr>
    <th>Description</th>
    <th>Price</th>
    <th>Category</th>
    <th></th>
  </tr>
  {{#products}}
  <tr>
    <td>
      {{description}}
    </td>
    <td>
      {{price}}
    </td>
    <td>
      {{category_description}}
    </td>
    <td>
      <a href="/products/edit/{{id}}">Edit</a>
      <a href="/products/delete/{{id}}">Delete</a>
    </td>
    {{/products}}
  </tr>
</table>

{{#no_products}}
<p>No products available yet. Add some above.</p>
{{/no_products}}